<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <title>Neurabot</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-11">
                <!-- <h1>Neurabot</h1> -->
                <canvas id="canvas"></canvas>
            </div>
            <div class="toolbox col-1 text-center">
                <p>Toolbox</p>
                <a href="#" data-toggle="modal" data-target="#stitch-modal" class="btn btn-primary" onclick="stitcher();">Stitch</a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="stitch-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Image Stitcher</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Pilih gambar yang ingin digabung: </p>
                    <div id="select-img" class="row text-center">
                    </div>
                </div>
                <div class="modal-footer">
                    Simpan Sebagai: <input type="text" id="output">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary" onclick="process_stitch()">Stitch</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        function stitcher () {
            $.ajax({
                url: '/images',
                type: 'get',
                contentType: 'application/json',
                beforeSend: function(){
                    
                },
                success: function( res ){
                    var elStart = '<div class="col-3">';
                    var elEnd = '</div>';
                    var elData = "";
                    console.log(res);
                    res.data.forEach(data => {
                        data = "static/uploads/" + data;
                        elData +=   elStart + "<img src='" + data + 
                                    "' class='img-fluid img-stitch-data'><br><input type='checkbox' name='images[]' value='" + 
                                    data + "'>" + elEnd;
                    });
                    $("#select-img").html(elData);
                },
                error: function( err ){
                    console.log("error");
                }
            });
        }

        function process_stitch () {
            var elData = $("input[name='images[]']").map(function () {
                var el = $(this)
                if(el[0].checked)
                    return el.val()
            }).get();
            
            var data = {
                file : elData,
                output : $("#output").val()
            }

            console.log(data.file)

            $.ajax({
                url: '/',
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(data),
                beforeSend: function(){
                    console.log("stitching ...")
                },
                success: function( data ){
                    console.log("success")
                    var path = $("#output").val()
                    drawImage(path)
                    $("#stitch-modal").modal('hide');
                },
                error: function( err ){
                    console.log("failed");
                }
            });
        }

        function drawImage (path) {
            var img = new Image()
            img.src = "static/results/" + path
            img.onload = function(){
                var canvas = document.getElementById("canvas")
                canvas.width = img.width
                canvas.height = img.height
                canvas.style = "width:100%;"
                var ctx = canvas.getContext("2d")
                ctx.drawImage(img, 0, 0, canvas.width, canvas.height)
            }
        }
    </script>
</body>
</html>