<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <style>
        select{
            width: 150px;
            height: 200px;
        }
    </style>
    <title>Image Stitching</title>
</head>
<body>
    <h1>Image Stitching</h1>
    <p>Silakan pilih beberapa gambar</p>
    <select id="file" multiple>
        {%for file in files%}
            <option value="{{file}}">{{file}}</option>
        {%endfor%}
    </select>
    <p>Nama File Output: <input type="text" id="output"></p>
    <input type="button" value="Stitch Selected Images" onclick="submit()"><br>
    <p id="loading-msg"></p>
    <canvas id="canvas"></canvas>
    <script>
        function submit () {
            var file = $("#file").val()
            var output =  $("#output").val()

            var data = {
                file : file,
                output : output
            }

            $.ajax({
                url: '/',
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(data),
                beforeSend: function(){
                    document.getElementById("loading-msg").innerHTML = "Please Wait ..."
                },
                success: function( data ){
                    document.getElementById("loading-msg").innerHTML = ""
                    drawImage(output)
                },
                error: function( err ){
                    document.getElementById("loading-msg").innerHTML = "Error"
                    console.log("failed");
                }
            });
        }

        function drawImage (path) {
            var img = new Image()
            img.src = "static/" + path
            img.onload = function(){
                var canvas = document.getElementById("canvas")
                canvas.width = img.width
                canvas.height = img.height
                var ctx = canvas.getContext("2d")
                ctx.drawImage(img, 0, 0, 200, 400)
            }
        }
    </script>
</body>
</html>